In [2]:
# -*- coding: UTF-8 -*-
"""PyRamen Homework Starter."""

'PyRamen Homework Starter.'

In [3]:
# @TODO: Import libraries
import csv
from pathlib import Path
import pandas as pd

In [4]:
# @TODO: Set file paths for menu_data.csv and sales_data.csv
menu_filepath = Path('Resources/menu_data.csv')
sales_filepath = Path('Resources/sales_data.csv')

In [5]:
# @TODO: Initialize list objects to hold our menu and sales data
menu = []
sales = []

In [6]:
# @TODO: Read in the menu data into the menu list
menu_df = pd.read_csv(menu_filepath)
menu_df.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [7]:
# @TODO: Read in the sales data into the sales list
sales_df = pd.read_csv(sales_filepath)
sales_df.head()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [8]:
# @TODO: Initialize dict object to hold our key-value pairs of items and metrics
report = {"01-count":0, "02-revenue":0, "03-cogs":0, "04-profit":0}

In [9]:
# Initialize a row counter variable
row_count = 0

In [10]:
# @TODO: Loop over every row in the sales list object

In [11]:
   # Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
    # @TODO: Initialize sales data variables

In [12]:
    # @TODO:
    # If the item value not in the report, add it as a new entry with initialized metrics
    # Naming convention allows the keys to be ordered in logical fashion, count, revenue, cost, profit